<div class="dashboard-container">
  <h2>Weekly Booking Schedule</h2>
  <table class="booking-table">
    <thead>
      <tr>
        <th>Time</th>
        <th *ngFor="let day of weekDays">{{ day.date | date: 'EEE (MM/dd)' }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let time of timeSlots; trackBy: trackByFn">
        <td>{{ time }}</td>
        <td *ngFor="let day of weekDays"
            [ngClass]="{
              'booked': isBooked(day.date, time)
            }"
            (click)="onBookingClick(day.date, time)"
            [attr.data-day]="day.date | date: 'EEE (MM/dd)'">
          <!-- If not booked, provide a clickable option -->
          <span *ngIf="!isBooked(day.date, time)"></span>
        </td>
      </tr>
    </tbody>
    
    
  </table>
</div>
