
<div class="row mt-5">
  <div class="col-12">
    <div class="card p-4">
      <h2 class="mb-4">List of Booking Details</h2>
     

    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12">
    <div class="card p-4">
      <div class="table-responsive">
        <table class="table table-striped text-center">
          <thead>
            <tr>
              <th>Email</th>
              <th>Selected Date</th>
              <th>Selected Time</th>
               <th>Selected Duration</th>
                <th>Selected Court</th>
                <th>Selected Payment Method</th>
                <th>Contact Number</th>
                <th>Action</th> 
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let booking of bookingList">
              <td>{{booking.email}}</td>
              <td>{{ booking.selectDate }}</td>
                <td>{{ booking.selectTime }}</td>
                <td>{{ booking.selectDuration }}</td>
                <td>{{ booking.selectCourt }}</td>
                <td>{{ booking.selectPaymentMethod }}</td>
                <td>{{ booking.contactNumber }}</td>
              <td class="text-center">
                <div class="btn-group" role="group">
                  <button class="btn btn-danger btn-sm me-2" 
                            (click)="onDelete(booking.id ?? 0)" 
                            [disabled]="selectedBooking !== null"
                            aria-label="Delete Booking Detail">
                      <i class="fa-solid fa-trash"></i> Delete
                    </button>
                    

                    <button class="btn btn-outline-warning btn-sm" 
                            (click)="populateForm(booking)" 
                            aria-label="Edit Booking Detail">
                      <i class="fa-solid fa-pen-to-square"></i> Edit
                    </button>

                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> 






