<!-- Main Content Sections -->
<div id="home-section">
  <!-- Search bar positioned below the navbar -->
  <div id="search-bar-container">
      <input type="text" id="search-bar" placeholder="Search futsal grounds...">
  </div>

  <div class="image-container">
      <img src="assets/football.jpg" alt="Football" class="fit-image">
      <div class="text-overlay left-aligned">
          <h1>Find Your Ground</h1>
          <p>Book futsal grounds with ease.<br>Secure payments, real-time availability, and instant confirmations.</p>
          <button class="book-now-button" (click)="navigateToFutsal()">Book Now</button>

      </div>
  </div>
</div>

