.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #303030;
    padding: 10px 20px;
    color: white;
    
    .left {
      display: flex;
      align-items: center;
      
      
      
      .menu-btn {
        font-size: 24px;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
      }
    }
    
    .logout-btn {
      background: #e74c3c;
      border: none;
      padding: 8px 15px;
      color: white;
      cursor: pointer;
      border-radius: 5px;
      
      &:hover {
        background: #c0392b;
      }
    }
  }
  