<div *ngIf="!isAdmin">
<footer class="footer">
  <div class="page-section">
  <h2>Gallery</h2>
  <h3>You have to fight to reach your dream</h3>
  <div class="gallery">
      <div class="gallery-item"><img src="assets/football.jpg" alt="Football 1"></div>
      <div class="gallery-item"><img src="assets/fotbal.jpg" alt="Football 2"></div>
      <div class="gallery-item"><img src="assets/about.png" alt="About Image"></div>
  </div>
</div>
  <p>&copy; 2025 Futsal Nepal. All Rights Reserved.</p>
</footer>
</div>